@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');
@import "tailwindcss";


@theme {
  --color-primary: #13ec5b;
  --color-primaryDeg: #D0FBDE;
  --color-dark: #0f172a;
  --color-body: #64748b;
  --color-bg-app: #f8fafc;

  --font-lexend: "Lexend", sans-serif;

  --font-icon: "Material Symbols Rounded";

  --shadow-card: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  --radius-card: 8px;
}

body {
  margin: 0;
  font-family: var(--font-lexend);
}

.link__nav::after {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--color-primary);
  width: 0;
  transition: width 0.3s ease-in-out;
}

.link__nav:hover::after {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--color-primary);
  width: 0;
  width: 100%;
}

.clip-top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 26%, 0% 3%);
}